@page
@model Shop.Web.Pages.Profile.Addresses.IndexModel
@{


}

<main class="main__content_wrapper">

    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <h1 class="breadcrumb__content--title text-white mb-25">حساب کاربری</h1>
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items"><a class="text-white" href="index.html">خانه</a></li>
                            <li class="breadcrumb__content--menu__items"><span class="text-white">حساب کاربری</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->
    <!-- my account section start -->
    <section class="my__account--section section--padding">
        <div class="container">
            <div class="my__account--section__inner border-radius-10 d-flex">
                <partial name="Shared/Profile/ProfileSideBarPartial" />
                <div class="account__wrapper">
                    <div class="account__content">
                        <h3 class="account__content--title mb-20">آدرس ها</h3>
                        <button class="new__address--btn primary__btn mb-25" type="button">اضافه کردن آدرس جدید</button>
                        <div class="account__details two">
                            <h4 class="account__details--title">پیشفرض</h4>
                            <p class="account__details--desc">ادمین <br> اراک <br> خیابان 12119 <br> پلاک 6</p>
                            <a class="account__details--link" href="my-account-2.html">مشاهده همه آدرس ها (1)</a>
                        </div>
                        <div class="account__details--footer d-flex">
                            <button class="account__details--footer__btn" type="button">ویرایش</button>
                            <button class="account__details--footer__btn" type="button">حذف</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- my account section end -->
    <!-- Start shipping section -->
    <section class="shipping__section2 shipping__style3 section--padding pt-0">
        <div class="container">
            <div class="shipping__section2--inner shipping__style3--inner d-flex justify-content-between">
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="/assets/img/other/shipping1.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">ارسال رایگان</h2>
                        <p class="shipping__items2--content__desc">از فروشنده های دستچین شده</p>
                    </div>
                </div>
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="/assets/img/other/shipping2.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">پرداخت امن</h2>
                        <p class="shipping__items2--content__desc">از فروشنده های دستچین شده</p>
                    </div>
                </div>
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="/assets/img/other/shipping3.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">بازگشت وجه</h2>
                        <p class="shipping__items2--content__desc">از فروشنده های دستچین شده</p>
                    </div>
                </div>
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="/assets/img/other/shipping4.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">پشتیبانی 24/7</h2>
                        <p class="shipping__items2--content__desc">از فروشنده های دستچین شده</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End shipping section -->

</main>
@section Header{
    @await Component.InvokeAsync("SiteHeader")
}

@section Footer{
    @await Component.InvokeAsync("SiteFooter")
}