@page
@model Shop.Web.Pages.Profile.ChangePasswordModel
@{
}
<main class="main__content_wrapper">

    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <h1 class="breadcrumb__content--title text-white mb-25">حساب کاربری</h1>
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items"><a class="text-white" href="index.html">خانه</a></li>
                            <li class="breadcrumb__content--menu__items"><span class="text-white">حساب کاربری</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->
    <!-- my account section start -->
    <section class="my__account--section section--padding">
        <div class="container">
            <div class="my__account--section__inner border-radius-10 d-flex">
                <partial name="Shared/Profile/ProfileSideBarPartial" />
                <div class="account__wrapper">


                    <div class="account__login--header mb-25">
                        <h2 class="account__login--header__title h3 mb-10">تغییر کلمه عبور</h2>

                    </div>
                    <div class="account__login--inner">

                        <form method="post">
                            <input asp-for="CurrentPassword" class="account__login--input" placeholder="کلمه عبور فعلی" type="password">
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            <input asp-for="NewPassword" class="account__login--input" placeholder="رمز عبور جدید" type="password">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                            <input asp-for="ConfirmPassword" class="account__login--input" placeholder=" تکرار رمز عبور جدید" type="password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                            <button class="account__login--btn primary__btn" type="submit">ثبت</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- my account section end -->
    <!-- Start shipping section -->
    <section class="shipping__section2 shipping__style3 section--padding pt-0">
        <div class="container">
            <div class="shipping__section2--inner shipping__style3--inner d-flex justify-content-between">
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="/assets/img/other/shipping1.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">ارسال رایگان</h2>
                        <p class="shipping__items2--content__desc">از فروشنده های دستچین شده</p>
                    </div>
                </div>
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="/assets/img/other/shipping2.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">پرداخت امن</h2>
                        <p class="shipping__items2--content__desc">از فروشنده های دستچین شده</p>
                    </div>
                </div>
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="/assets/img/other/shipping3.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">بازگشت وجه</h2>
                        <p class="shipping__items2--content__desc">از فروشنده های دستچین شده</p>
                    </div>
                </div>
                <div class="shipping__items2 d-flex align-items-center">
                    <div class="shipping__items2--icon">
                        <img src="/assets/img/other/shipping4.png" alt="">
                    </div>
                    <div class="shipping__items2--content">
                        <h2 class="shipping__items2--content__title h3">پشتیبانی 24/7</h2>
                        <p class="shipping__items2--content__desc">از فروشنده های دستچین شده</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End shipping section -->

</main>
@section Header{
    @await Component.InvokeAsync("SiteHeader")
}

@section Footer{
    @await Component.InvokeAsync("SiteFooter")
}