@page
@model IndexModel
@{
    ViewData["Title"] = "فروشگاه اینترنتی";
}
@section IndexHeader
{
    <section class="home-slider position-relative">
        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <div class="bg-home slider-rtl-2 d-flex align-items-center" style="background:url('/assets/images/shop/bg2.jpg') center center;">
                        <div class="container">
                            <div class="row align-items-center mt-5">
                                <div class="col-lg-7 col-md-7">
                                    <div class="title-heading mt-4">
                                        <h1 class="display-4 title-white fw-bold mb-3">لوازم جانبی جدید <br> با مجموعه جدید ما </h1>
                                        <p class="para-desc text-muted para-dark">کمپین خود را راه اندازی کنید و از تخصص ما در زمینه طراحی و مدیریت صفحه بوت استرپ v5 html تبدیل محور بهره مند شوید.</p>
                                        <div class="mt-4">
                                            <a href="javascript:void(0)" class="btn btn-soft-primary">اکنون بخرید </a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="3000">
                    <div class="bg-home slider-rtl-1 d-flex align-items-center" style="background:url('/assets/images/shop/bg1.jpg') center center;">
                        <div class="container">
                            <div class="row align-items-center mt-5">
                                <div class="col-lg-7 col-md-7">
                                    <div class="title-heading mt-4">
                                        <h1 class="display-4 title-white fw-bold mb-3">هدفون <br> شیائومی </h1>
                                        <p class="para-desc text-muted para-dark">کمپین خود را راه اندازی کنید و از تخصص ما در زمینه طراحی و مدیریت صفحه بوت استرپ v5 html تبدیل محور بهره مند شوید.</p>
                                        <div class="mt-4">
                                            <a href="javascript:void(0)" class="btn btn-soft-primary">اکنون بخرید </a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="3000">
                    <div class="bg-home slider-rtl-3 d-flex align-items-center" style="background:url('/assets/images/shop/bg3.jpg') center center;">
                        <div class="container">
                            <div class="row align-items-center mt-5">
                                <div class="col-lg-7 col-md-7">
                                    <div class="title-heading mt-4">
                                        <h1 class="display-4 title-white fw-bold mb-3">مبلمان مدرن، <br> و جدید</h1>
                                        <p class="para-desc text-muted para-dark">کمپین خود را راه اندازی کنید و از تخصص ما در زمینه طراحی و مدیریت صفحه بوت استرپ v5 html تبدیل محور بهره مند شوید.</p>
                                        <div class="mt-4">
                                            <a href="javascript:void(0)" class="btn btn-soft-primary">اکنون بخرید </a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">قبلی </span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">بعدی </span>
            </a>
        </div>
    </section><!--end section-->
}

@section Header{
    @await Component.InvokeAsync("SiteHeader")
}

@section Footer{
    @await Component.InvokeAsync("SiteFooter")
}