<div class="account__left--sidebar">
    <h2 class="account__content--title h3 mb-20">پروفایل</h2>
    <ul class="account__menu">
        <li class="account__menu--list active"><a href="/Profile">داشبورد</a></li>
        <li class="account__menu--list"><a href="/Profile/Addresses">آدرس ها</a></li>
        <li class="account__menu--list "><a href="/Profile/ChangePassword">تغییر کلمه عبور</a></li>
        <li class="account__menu--list "><a href="/Profile/Orders">سفارشات </a></li>

        <li class="account__menu--list"><a href="/Auth/LogOut">خروج</a></li>
    </ul>
</div>