
<!doctype html>
<html lang="fa">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Raque - Education & LMS HTML Template">
    <meta name="description" content="Raque - Education & LMS HTML Template">
    <meta name="author" content="Barat Hadian">

    <link rel="stylesheet" href="/assetsAuth/css/bootstrap..min.css">
    <link rel="stylesheet" href="/assetsAuth/css/boxicons.min.css">
    <link rel="stylesheet" href="/assetsAuth/css/flaticon.css">
    <link rel="stylesheet" href="/assetsAuth/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assetsAuth/css/odometer.min.css">
    <link rel="stylesheet" href="/assetsAuth/css/meanmenu.min.css">
    <link rel="stylesheet" href="/assetsAuth/css/animate.min.css">
    <link rel="stylesheet" href="/assetsAuth/css/nice-select.min.css">
    <link rel="stylesheet" href="/assetsAuth/css/viewer.min.css">
    <link rel="stylesheet" href="/assetsAuth/css/slick.min.css">
    <link rel="stylesheet" href="/assetsAuth/css/magnific-popup.min.css">
    <link rel="stylesheet" href="/assetsAuth/css/style.css">
    <link rel="stylesheet" href="/assetsAuth/css/rtl.css">
    <link rel="stylesheet" href="/assetsAuth/css/responsive.css">

    <title>ناک شاپ - فروشگاه اینترنتی</title>

    <link rel="icon" type="image/png" href="/assetsAuth/img/favicon.png">
</head>

<body>



    @RenderBody()


    <script src="/assetsAuth/js/jquery.min.js"></script>
    <script src="/assetsAuth/js/popper.min.js"></script>
    <script src="/assetsAuth/js/bootstrap.min.js"></script>
    <script src="/assetsAuth/js/owl.carousel.min.js"></script>
    <script src="/assetsAuth/js/mixitup.min.js"></script>
    <script src="/assetsAuth/js/parallax.min.js"></script>
    <script src="/assetsAuth/js/jquery.appear.min.js"></script>
    <script src="/assetsAuth/js/odometer.min.js"></script>
    <script src="/assetsAuth/js/particles.min.js"></script>
    <script src="/assetsAuth/js/meanmenu.min.js"></script>
    <script src="/assetsAuth/js/jquery.nice-select.min.js"></script>
    <script src="/assetsAuth/js/viewer.min.js"></script>
    <script src="/assetsAuth/js/slick.min.js"></script>
    <script src="/assetsAuth/js/jquery.magnific-popup.min.js"></script>
    <script src="/assetsAuth/js/jquery.ajaxchimp.min.js"></script>
    <script src="/assetsAuth/js/form-validator.min.js"></script>
    <script src="/assetsAuth/js/contact-form-script.js"></script>
    <script src="/assetsAuth/js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/global/alerts.js"></script>
    <script src="/assets/global/global.js"></script>
    <partial name="_ValidationScriptsPartial" />
</body>

</html>
