
<button id="scroll__top"><svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 244l144-144 144 144M256 120v292" /></svg></button>
<script src="/assets/js/vendor/popper.js" defer="defer"></script>
<script src="/assets/js/vendor/bootstrap.min.js" defer="defer"></script>
<script src="/assets/js/plugins/swiper-bundle.min.js"></script>
<script src="/assets/js/plugins/glightbox.min.js"></script>
<script src="/assets/js/script.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/assets/global/alerts.js"></script>
<script src="/assets/global/global.js"></script>
<partial name="_ValidationScriptsPartial" />