
<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>ناک شاپ - فروشگاه اینترنتی</title>
    <meta name="description" content="Morden Bootstrap HTML5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <partial name="_HeaderReferencesPartial" />
</head>
<body>
    @await RenderSectionAsync("preloader", false)
    @await RenderSectionAsync("Header", false)
    @RenderBody();
    <partial name="_FooterReferencesPartial" />

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

